.detailTeacher{
   display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-family:"Arsenal SC", sans-serif;
    margin-left: 10%;
    gap: 2rem;
}

.detail_photo_teacher{
    width: 300px;
}