.filtered-search{
    background-color: #521B58;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
      
}

.search-instrument{
    font-family:"Arsenal SC", sans-serif;
    padding: 5px;
    color: #521B58;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5px;
}

.schedule{
    font-family:"Arsenal SC", sans-serif;
    padding: 5px;
    color: #521B58;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5px;
}

.language{
     font-family:"Arsenal SC", sans-serif;
    padding: 5px;
    color: #521B58;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5px;
}