@use './core/reset';
@use './header__profes/header.scss';
@use './header__profes/sub_header.scss';
@use './header__profes/teacher_list.scss';

$font_text: "Arsenal SC", sans-serif;
$font_title1: "Arsenal SC", sans-serif;
$fontsize_title: 1.5rem;
$fontsize_text: 1.125rem;

.root {
    font-family: $font_text;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title_1 {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title_2 {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}